@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400&family=Work+Sans:ital,wght@0,300;1,300&display=swap');
    *{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
color:white;
background-color: black;
    }
    nav{
        background-color: black;
        color: white;
        padding: 20px 3px;
        display:flex;
        justify-content: space-between;
        box-shadow: 25px grey;
        border-style: double;
        border-color: darksalmon;

    }
    .logo 
    {
        margin:0 23px;
        font-weight:bold;
        color: white;
        margin-left: 10px;
        font-weight: bolder;
        
    }
    ul {
        display: flex;
        margin:0 23px;
    }
    ul li {
        list-style: none;
        margin: 0 13px;
        font-size: 20px;
       
    }
    table,tr,td {
        border: 0.1px solid white;
        border-collapse: collapse;
        padding: 5px 13px;
        
    }
    .container {
        max-width: 80vw;
        margin: auto;
        margin-top:23px;
        align-center: center;
    }
    .btn
    {
        background-color: rgb(7, 178, 231);
        color: white;
        font-weight:600;
        border-radius: 25px;
        cursor: pointer;
    }
    h1,h2,h2 
    {
        margin: 23px 0;
    }
    .btn2 {
        background-color: rgb(4, 143, 194);
        color:white;
        font-weight: 600;   
        border-radius: 12px;
        cursor: pointer;
    }
    img 
    {
        cursor: pointer;
        position: relative;
        bottom:7px;
        width: 15px;
        height: 13px;
        background-color: white;
    }
    footer {
        text-align: center;
        padding: 3px;
        background-color: DarkSalmon;
        color: white;
        margin-top: auto;
    
        justify-content: space-evenly;
        
      }
      .foot li {
        display: flex;
      }
    /* .alert 
    {
        display: none;
    } */
    .wrapper {
        min-height: calc(100vh - 100px); /* Adjust the value to suit your footer's height */
        display: flex;
        flex-direction: column;
    }